.app {
  background-color: #131316;
  height: 100vh;
  overflow: hidden;
}

.app__content {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  align-items: flex-start;
}

.app__contentTitle {
  margin-bottom: 20px;
}

.app__burgersContent {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.app__burgers-content ::-webkit-scrollbar {
  width: 10px;
  background-color: #2F2F37;
}

.app__burgers-content ::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}