.app-header {
    width: 60%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.app-header__elements {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0;
}

.app-header__element:first-child {
    margin-left: 0;
}

.app-header__element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.app-header__elemnt-text {
    margin: 0 10px;
}